//output:new.html

doctype html
html
  head
    title Tareas
  body
    form(action= "/sessions" method="POST")
      input(type="email" name="email" placeholder="Correo electronico")
      input(type="password" name="password" placeholder="Constraseña")
      input(type="submit" value="Iniciar Sesion")